@model control_notas_cit.Models.ViewModels.CargarNotasViewModel

@{
    ViewBag.Title = "CargarNotasFinales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    @Html.Partial("_SidebarProfesorPartialView")
}

@if (TempData.Count() > 0)
{
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Error</strong> @TempData["message"]
    </div>
}

<div class="box span8">
    <div class="box-header" data-original-title="">
        <h2><i class="halflings-icon edit"></i><span class="break"></span> Notas finales</h2>
    </div>
    <div class="box-content">
        <fieldset>
            @using (Html.BeginForm("CargarNotasFinales", "Profesor", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <label for="file">Subir archivo:</label>
                <input type="file" name="file" id="file" />

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Cargar</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn" })
                </div>
            }
        </fieldset>
    </div>
</div>





